name: Generate Tetris Contribution

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Tetris SVG
        uses: yoshi389111/github-profile-3d-contrib@0.7.1
        with:
          username: Rohit-3
          svg_out_path: ./profile-tetris.svg

      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "update tetris"
          git push
